@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";





body {
    background-color: oklch(0.282 0.091 267.935);
    color: oklch(0.97 0.014 254.604);
    width: 100vw;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    font-weight: normal;

}

.animatedButton {
    animation-duration: 10000ms;
}


/* Get rid of borders */
.ql-container {
   border: none !important;
}
.ql-toolbar {
    border: none !important;
}
.ql-editor{
    border: none !important;
}



/* Initial colors of buttons */
.ql-snow .ql-picker-label {
 color: white !important;
}
.ql-snow .ql-stroke {
    stroke: #ffffff !important;
}
.ql-snow .ql-fill, .ql-snow .ql-stroke.ql-fill {
    fill: #ffffff !important;
}


/* Hover state of buttons */
.ql-snow.ql-toolbar button:hover .ql-stroke {
    stroke: #37bbf8 !important;
}
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill {
    stroke: #37bbf8 !important;
}
.ql-snow.ql-toolbar button:hover .ql-fill {
    stroke: #37bbf8 !important;
}


/* Active state of buttons */
.ql-snow.ql-toolbar button.ql-active .ql-stroke {
    stroke: #3791f8 !important;
}
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill {
    stroke: #3791f8  !important;
}
.ql-snow.ql-toolbar button.ql-active .ql-fill {
    stroke: #3791f8  !important;
}