@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";





body {
    background-color: oklch(0.282 0.091 267.935);
    color: oklch(0.97 0.014 254.604);
    width: 100vw;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
    font-weight: normal;

}

